@font-face {
    font-family: "Amazon Ember";
    font-weight: 200;
    src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-weight: 200;
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-weight: 500;
    src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-weight: 400;
    src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-weight: 500;
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-style: italic;
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff)
        format("woff");
  }
        
    /* font_weight */
    .fw_2 {
        font-family: "Amazon Ember", Arial, sans-serif;;
        font-weight: 200;
    }
    
    .fw_2_italic {
        font-family: "Amazon Ember", Arial, sans-serif;;
        font-weight: 200;
        font-style: italic;
    }
    
    .fw_5_italic {
        font-family: "Amazon Ember", Arial, sans-serif;;
        font-weight: 500;
        font-style: italic;
    }
    
    .fw_4 {
        font-family: "Amazon Ember", Arial, sans-serif;;
        font-weight: 400;
    }
    .fw_5 {
        font-family: "Amazon Ember", Arial, sans-serif;;
        font-weight: 500;
    }
    
    .fw_7 {
        font-family: "Amazon Ember", Arial, sans-serif;
        font-weight: 700;
    }

    .fw_7_italic {
        font-family: "Amazon Ember", Arial, sans-serif;
        font-style: italic;
        font-weight: 700;
    }
    
    .txt_deco {
        text-decoration: none;
    }  
    
    /* Font Size */
    .txt-10 {
        font-size: 10px;
    }
    .txt-11 {
        font-size: 11px;
    }
    .txt-12 {
        font-size: 12px;
    }
    .txt-13 {
        font-size: 13px;
    }
    .txt-14{
       font-size: 14px;
    }
    .txt-17{
        font-size: 17px;
    }
    .txt-24{
        font-size: 24px;
    }
    .txt-28{
        font-size: 28px;
    }
    .txt-40{
        font-size: 40px;
    }
        
    .txt_deco {
        text-decoration: none;
    }
    
    .txt_align {
        text-align: center;
    }

     /* Text colors */
    .txt_white {
        color: white;
    }
    .txt_red {
        color: #b53211;
    }
    
    .txt_orange {
        color: #c7511f;
    }
    
    .txt_orange_extra_light {
        color: #e47911;
    }
    
    .txt_orange_extra_light {
        color: #e47911;
    }
    
    .txt_orange_light {
        color: #cc6600;
    }

    .txt_blue {
        color: #007185;
    }
    .txt_green {
        color: #168342;
    }

    .txt_black {
        color: #0f1111;
    }

    .txt_gray {
        color: #565959;
    }

